<div class="text-center">
    <br>
    <div>
        <br>
        <p>@Model.FirstName, спасибо за регистрацию!</p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Return to home page</a>
    </div>
</div>